@tailwind base;
@tailwind components;
@tailwind utilities;

.dropup {
  position: relative;
}

.dropup .dropdown-content {
  display: none;
  position: absolute;
  bottom: 110%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropup:hover .dropdown-content {
  display: block;
}

.primaryColorClassName {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

/* Add these variables to your global CSS file */
:root {
  --primary-color: #95b168;
  --primary-text-color: #f1f1f1;
}

.skeleton {
  background-image: linear-gradient(
    90deg,
    #f0f0f0 25%,
    #e0e0e0 50%,
    #f0f0f0 75%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

*,
*:before,
*:after {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  border-radius: 0.5em;
}

@font-face {
  font-family: "QuickMedium";
  src: local("Quicksand-Medium"),
    url("../assets/static/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "QuickRegular";
  src: local("Quicksand-Regular"),
    url("../assets/static/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "QuickLight";
  src: local("Quicksand-Light"),
    url("../assets/static/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "QuickSemiBold";
  src: local("Quicksand-SemiBold"),
    url("../assets/static/Quicksand-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "QuickBold";
  src: local("Quicksand-Bold"),
    url("../assets/static/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: local("Montserrat-Medium"),
    url("../assets/static/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratRegular";
  src: local("Montserrat-Regular"),
    url("../assets/static/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratLight";
  src: local("Montserrat-Light"),
    url("../assets/static/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratSemiBold";
  src: local("Montserrat-SemiBold"),
    url("../assets/static/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBold";
  src: local("Montserrat-Bold"),
    url("../assets/static/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraLight";
  src: local("Montserrat-ExtraLight"),
    url("../assets/static/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraBold";
  src: local("Montserrat-ExtraBold"),
    url("../assets/static/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratItalic";
  src: local("Montserrat-Italic"),
    url("../assets/static/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBlack";
  src: local("Montserrat-Black"),
    url("../assets/static/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratThin";
  src: local("Montserrat-Thin"),
    url("../assets/static/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"),
    url("../assets/arial-font/arial.ttf") format("woff");
}

@font-face {
  font-family: "Georgia Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Italic"), url("../assets/georgiai.woff") format("woff");
}

@font-face {
  font-family: "Georgia Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Bold"),
    url("../assets/arial-font/G_ari_bd.TTF") format("woff");
}

@font-face {
  font-family: "Georgia Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Bold Italic"),
    url("../assets/arial-font/G_ari_i.TTF") format("woff");
}

/* styles/globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
