@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

@font-face {
  font-family: "QuickMedium";
  src: local("Quicksand-Medium"),
    url("../assets/static/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "QuickRegular";
  src: local("Quicksand-Regular"),
    url("../assets/static/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "QuickLight";
  src: local("Quicksand-Light"),
    url("../assets/static/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "QuickSemiBold";
  src: local("Quicksand-SemiBold"),
    url("../assets/static/Quicksand-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "QuickBold";
  src: local("Quicksand-Bold"),
    url("../assets/static/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: local("Montserrat-Medium"),
    url("../assets/static/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratRegular";
  src: local("Montserrat-Regular"),
    url("../assets/static/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratLight";
  src: local("Montserrat-Light"),
    url("../assets/static/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratSemiBold";
  src: local("Montserrat-SemiBold"),
    url("../assets/static/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBold";
  src: local("Montserrat-Bold"),
    url("../assets/static/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraLight";
  src: local("Montserrat-ExtraLight"),
    url("../assets/static/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratExtraBold";
  src: local("Montserrat-ExtraBold"),
    url("../assets/static/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratItalic";
  src: local("Montserrat-Italic"),
    url("../assets/static/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBlack";
  src: local("Montserrat-Black"),
    url("../assets/static/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratThin";
  src: local("Montserrat-Thin"),
    url("../assets/static/Montserrat-Thin.ttf") format("truetype");
}
