@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"),
    url("../assets/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"),
    url("../assets/SFProDisplay-Medium.woff2") format("woff2"),
    url("../assets/SFProDisplay-Medium.woff") format("woff"),
    url("../assets/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-Heavy.eot");
  src: local("SF Pro Display Heavy"), local("SFProDisplay-Heavy"),
    url("../assets/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../assets/SFProDisplay-Heavy.woff2") format("woff2"),
    url("../assets/SFProDisplay-Heavy.woff") format("woff"),
    url("../assets/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-UltralightItalic.eot");
  src: local("SF Pro Display UltralightItalic"),
    local("SFProDisplay-UltralightItalic"),
    url("../assets/SFProDisplay-UltralightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-UltralightItalic.woff2") format("woff2"),
    url("../assets/SFProDisplay-UltralightItalic.woff") format("woff"),
    url("../assets/SFProDisplay-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-RegularItalic.eot");
  src: local("SF Pro Display Regular Italic"),
    local("SFProDisplay-RegularItalic"),
    url("../assets/SFProDisplay-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-RegularItalic.woff2") format("woff2"),
    url("../assets/SFProDisplay-RegularItalic.woff") format("woff"),
    url("../assets/SFProDisplay-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-Thin.eot");
  src: local("SF Pro Display Thin"), local("SFProDisplay-Thin"),
    url("../assets/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"),
    url("../assets/SFProDisplay-Thin.woff2") format("woff2"),
    url("../assets/SFProDisplay-Thin.woff") format("woff"),
    url("../assets/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("SFProDisplay-Light"),
    url("../assets/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"),
    url("../assets/SFProDisplay-Light.woff2") format("woff2"),
    url("../assets/SFProDisplay-Light.woff") format("woff"),
    url("../assets/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-BlackItalic.eot");
  src: local("SF Pro Display Black Italic"), local("SFProDisplay-BlackItalic"),
    url("../assets/SFProDisplay-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-BlackItalic.woff2") format("woff2"),
    url("../assets/SFProDisplay-BlackItalic.woff") format("woff"),
    url("../assets/SFProDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"),
    url("../assets/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/SFProDisplay-Bold.woff2") format("woff2"),
    url("../assets/SFProDisplay-Bold.woff") format("woff"),
    url("../assets/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-Black.eot");
  src: local("SF Pro Display Black"), local("SFProDisplay-Black"),
    url("../assets/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"),
    url("../assets/SFProDisplay-Black.woff2") format("woff2"),
    url("../assets/SFProDisplay-Black.woff") format("woff"),
    url("../assets/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-SemiboldItalic.eot");
  src: local("SF Pro Display SemiboldItalic"),
    local("SFProDisplay-SemiboldItalic"),
    url("../assets/SFProDisplay-SemiboldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-SemiboldItalic.woff2") format("woff2"),
    url("../assets/SFProDisplay-SemiboldItalic.woff") format("woff"),
    url("../assets/SFProDisplay-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-Ultralight.eot");
  src: local("SF Pro Display Ultralight"), local("SFProDisplay-Ultralight"),
    url("../assets/SFProDisplay-Ultralight.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-Ultralight.woff2") format("woff2"),
    url("../assets/SFProDisplay-Ultralight.woff") format("woff"),
    url("../assets/SFProDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-LightItalic.eot");
  src: local("SF Pro Display LightItalic"), local("SFProDisplay-LightItalic"),
    url("../assets/SFProDisplay-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-LightItalic.woff2") format("woff2"),
    url("../assets/SFProDisplay-LightItalic.woff") format("woff"),
    url("../assets/SFProDisplay-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-ThinItalic.eot");
  src: local("SF Pro Display ThinItalic"), local("SFProDisplay-ThinItalic"),
    url("../assets/SFProDisplay-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-ThinItalic.woff2") format("woff2"),
    url("../assets/SFProDisplay-ThinItalic.woff") format("woff"),
    url("../assets/SFProDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-MediumItalic.eot");
  src: local("SF Pro Display MediumItalic"), local("SFProDisplay-MediumItalic"),
    url("../assets/SFProDisplay-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-MediumItalic.woff2") format("woff2"),
    url("../assets/SFProDisplay-MediumItalic.woff") format("woff"),
    url("../assets/SFProDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"),
    url("../assets/SFProDisplay-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../assets/SFProDisplay-Semibold.woff") format("woff"),
    url("../assets/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-HeavyItalic.eot");
  src: local("SF Pro Display HeavyItalic"), local("SFProDisplay-HeavyItalic"),
    url("../assets/SFProDisplay-HeavyItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-HeavyItalic.woff2") format("woff2"),
    url("../assets/SFProDisplay-HeavyItalic.woff") format("woff"),
    url("../assets/SFProDisplay-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    url("../assets/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/SFProDisplay-Regular.woff2") format("woff2"),
    url("../assets/SFProDisplay-Regular.woff") format("woff"),
    url("../assets/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/SFProDisplay-BoldItalic.eot");
  src: local("SF Pro Display BoldItalic"), local("SFProDisplay-BoldItalic"),
    url("../assets/SFProDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/SFProDisplay-BoldItalic.woff2") format("woff2"),
    url("../assets/SFProDisplay-BoldItalic.woff") format("woff"),
    url("../assets/SFProDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loading {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: transparent #9944ff;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
.custom-hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 16px 0; /* Ubah margin sesuai kebutuhan */
}
